<table class="table table-striped" >
    <thead>
      <tr>
        <th>Image</th>
        <th>Address</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="admin-table">
    	<% for home in @homes %>
      <tr>
        <td><%= image_tag(home.image_url(:thumbnail), :width => 50, :height => 50)%></td>
        <td><%= home.address %></td>
        <td><%= home.rate %></td>
        <td><%= home.description %></td>
        <th><%= link_to "Show", { :controller => :homes, :action => :show ,:id => home.id }, { class: "btn btn-primary", style: "width: 100%;" } %></th>
        <th><a href="/homes/<%=home.id%>" data-method="delete" class="btn btn-danger" style="width:100%">Delete</a></th>
    	
      </tr>
      <% end %>
     
    </tbody>
 </table>