<p id="notice"><%= notice %></p>

<h1>Home Photos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Home</th>
      <th>Title</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <% for photo in @photo %>
      <tr>
        <td><%= photo.home_id %></td>
        <td><%= photo.home.title %></td>
        <td><%= image_tag(photo.image_url(:thumbnail))%></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>