<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Home</th>
      <th>Title</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.home_id %></td>
        <td><%= Home.find(photo.home_id).title %></td>
        <td><%= image_tag(photo.image_url(:thumbnail))%></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

