<!DOCTYPE html>
<html>
<head>
  <title>ShareHouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>


<% if name.to_s == 'notice' %>
  <script type="text/javascript">alertify.success('<%= msg%>');</script>
  <%else%>
 <script type="text/javascript">alertify.error('<%= msg%>');</script>
<%end%>



  <% end %>
<% end %>
	<nav class="navbar navbar-default navbar-static-top" style="height: 60px; padding-top: 4px;">
	  <div class="container" style="">
	    <div class="navbar-header">
	      <p class="navbar-brand" >Share House</p>
	    </div>

	    <ul class="nav navbar-nav navbar-right">
	      
	      <li>
	      <% if user_signed_in? %>
      	      <button class="btn btn-danger" id="logout-button" onclick="destroy()"><span class="glyphicon glyphicon-log-in"></span> Logout</button>
	      <% else %>
	      <button class="btn btn-success" id="login-button" onclick="window.location.assign('<%= new_user_session_path %>');"><span class="glyphicon glyphicon-user"></span> Login</button>
	      <% end %>
	      </li>
	    </ul>

	    <div class="col-md-3 col-md-offset-3">
	    	<form class="navbar-form" role="search">
				<div class="input-group">
				<input type="text" class="form-control" id="search-input" placeholder="Search Location" name="srch-term">
				<div class="input-group-btn">
				    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
				</div>
				</div>
			</form> 
	    </div>
	  </div>	
	</nav>

	<div class="navbar-collapse collapse navbar-inverse" id="simple-bar">
		<div class="container">
			<ul class="nav navbar-nav links" style="margin-left: -120px;">
		    	<li ><a href="/" id="show-map" >Map</a></li>
		    	<li><a href="<%= homes_path %>" id="show-list">List</a></li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right" style="margin-top: 8px">
		      <li><button class="btn btn-default" type="button" id="post-pad" onclick="window.location.assign('<%= new_home_path %>');" style="margin-right: 5px;"><span class="glyphicon glyphicon-plus"></span>&nbspPost</button></li>
		      <li><button class="btn btn-default" type="button" id="filter">Filters</button></li>
		    </ul>
		</div>    
	</div> <!-- 
<style type="text/css">
	
</style>
<div class="full">
	<div id="sec-nav" class="container">
		<div class="row">
			<div class="col-md-4">
				<ul>
					<li class="active"><a href="">Map</a></li>
					<li><a href="">List</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-md-offset-4 text-right button-post">
				<button class="btn btn-default" type="button" id="post-pad">Post a pad</button>
				<button class="btn btn-default" type="button" id="filter">Filters</button>
			</div>
		</div>
	</div>
	</div>
 -->
 <div id="map"></div>
 <div id="list" class="hidden"></div>
 <script type="text/javascript">
 	function destroy() {
      	      	$.ajax({
				   url: '<%= destroy_user_session_path %>', 
				   error: function() {
				      console.log("Error!");
				   },
				   success: function(data) {
				      location.reload();
				   },
				   type: 'DELETE'
				});
				}

	/*$("#show-list").click(function(){
		$("#show-map").removeClass('active');
    	$("#map").hide();
		$("#list").removeClass('hidden')
			.show()
    	$("#show-list").addClass('active');
    	window.location.assign('<%= homes_path %>');

	});

	$("#show-map").click(function(){
		$("#show-map").addClass('active');
    	$("#list").hide();
    	$("#map").show();
    	$("#show-list").removeClass('active');

	});*/

	
	
 </script>
 
	<%= yield %>

</body>
</html>
